<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계약서 보기</title>
</head>
<body>
<img  id="aa"  />

</body>
<script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<script th:inline="javascript">
    var imgSrc = [[${img_path}]];
    $(function(){
        $('#aa').attr("src",imgSrc);
    })
</script>
</html>