<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout::setContent(~{::content})}">
    <th:block th:fragment = "content">
        <!-- 메인 시작 -->

        <div class="pcoded-content">
            <!-- 본문내용 시작 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">계약등록</h5>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm" width="100%;">
                                <tr>
                                    <td bgcolor="#f6f6f6" width="10%;" height="50px;" align="center" valign="middle">계약서 불러오기</td>
                                    <td align="center" valign="middle"><div class="custom-file" ><input type="file" class="custom-file-input-sm" id="inputGroupFile01"><label class="custom-file-label" for="inputGroupFile01"></label></div></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" height="50px;" align="center" valign="middle">업체명</td>
                                    <td align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;" id="companyName"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" height="50px;" align="center" valign="middle">사업자번호</td>
                                    <td align="left" valign="middle"><input type="text" style="width:7%; height:100%; border:none;" maxlength="3" id="businessNumber1">  -  <input type="text" style="width:7%; height:100%; border:none;" maxlength="2" id="businessNumber2">  -  <input type="text" style="width:7%; height:100%; border:none;" maxlength="5" id="businessNumber3"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" height="50px;" align="center" valign="middle">계좌정보</td>
                                    <td align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;" id="accountNumber"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" height="50px;" align="center" valign="middle">계약번호</td>
                                    <td align="center" valign="middle"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" height="50px;" align="center" valign="middle">비고</td>
                                    <td align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;" id="etc"></td>
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-primary btn-sm" style="float:right;" onclick="send()">저장</button>
                            <table id="table1" class="table table-bordered table-sm" width="100%">
                                <tr>
                                    <td bgcolor="#f6f6f6" align='center' valign='middle'>품목코드</td>
                                    <td bgcolor="#f6f6f6" align='center' valign='middle'>품목명</td>
                                    <td bgcolor="#f6f6f6" align='center' valign='middle'>단가</td>
                                    <td bgcolor="#f6f6f6" align='center' valign='middle'>L/T</td>
                                    <td bgcolor="#f6f6f6" align='center' valign='middle'>세부사항</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="number" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="number" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="number" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="number" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                    <td>
                                        <input type="text" class="input-border-none text-center" />
                                    </td>
                                </tr>


                            </table>
                            <ul class="pagination">
                                <li class="page-item disabled"><span class="page-link">이전</span></li>
                                <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                <li class="page-item active"><span class="page-link">2<span class="sr-only">(current)</span></span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                <li class="page-item"><a class="page-link" href="#!">다음</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">계약관리</h5>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <select name="진행단계" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-sm" style="float:left;">
                                <option value="">선택</option>
                                <option value="조달미예정">조달미예정</option>
                                <option value="조달준비완료">조달준비완료</option>
                                <option value="조달진행중">조달진행중</option>
                                <option value="조달완료">조달완료</option>
                            </select>
                            <input type="text" class="form-control-sm" aria-label="Text input with dropdown button" style="float:left; width:20%; height:31px;">
                            <button class="btn btn-primary btn-sm" type="button" style="float:left;">검색</button>
                            <button type="button" class="btn btn-primary btn-sm" style="float:right;" id="print" onclick="window.print()">저장 및 인쇄</button>
                            <button type="button" class="btn btn-primary btn-sm" style="float:right;"data-toggle="modal" data-target="#exampleModalLive">이메일 보내기</button>
                            <button type="button" class="btn btn-danger btn-sm" style="float:right;">미완료건만보기</button>
                            <button type="button" class="btn btn-primary btn-sm" style="float:right;">전체보기</button>

                            <table id="table2" class="table table-bordered table-sm" width="100%;">
                                <tr>
                                    <td bgcolor="#f6f6f6" width="1%;"></td>
                                    <td bgcolor="#f6f6f6" width="10%;" align='center' valign='middle'>계약번호</td>
                                    <td bgcolor="#f6f6f6" width="10%;" align='center' valign='middle'>품목코드</td>
                                    <td bgcolor="#f6f6f6" width="20%;"  align='center' valign='middle'>품목명</td>
                                    <td bgcolor="#f6f6f6" width="15%;" align='center' valign='middle'>업체명</td>
                                    <td bgcolor="#f6f6f6" width="15%;" align='center' valign='middle'>사업자번호</td>
                                    <td bgcolor="#f6f6f6" width="5%;" align='center' valign='middle'>단가</td>
                                    <td bgcolor="#f6f6f6" width="5%;" align='center' valign='middle'>L/T</td>
                                    <td bgcolor="#f6f6f6" width="15%;" align='center' valign='middle'>세부사항</td>
                                    <td bgcolor="#f6f6f6" width="5%;" align='center' valign='middle'>계약여부</td>
                                    <td bgcolor="#f6f6f6" width="3%;" align='center' valign='middle'>삭제</td>
                                </tr>
                                <tr>
                                    <td align='center' valign='middle'><input type='checkbox' class='checkbox'></td>
                                    <td>001</td>
                                    <td></td>
                                    <td></td>
                                    <td>엠아이티</td>
                                    <td>123-45-78910</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>완료</td>
                                    <td align='center' valign='middle'><button class='btn btn-danger btn-sm' style='height:27px;' onclick='deleteRow(this)'>삭제</button></td>
                                </tr>
                            </table>
                            <ul class="pagination">
                                <li class="page-item disabled"><span class="page-link">이전</span></li>
                                <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                <li class="page-item active"><span class="page-link">2<span class="sr-only">(current)</span></span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                <li class="page-item"><a class="page-link" href="#!">다음</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLiveLabel">Modal Title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <form id="emailForm" class="gform" method="POST" data-email="black5225@gmail.com" action="https://script.google.com/macros/s/AKfycbyrWKrDLWlCUEqI3HrZNPxi4EUXPxFddPmdGy2MeRzjvwczFIlwBSnr6h0O1eYGnrhs/exec">
                                        <p class="mb-0">
                                            이메일주소 입력
                                            <input type="email" class="form-control" id="emailAddress" placeholder="이메일주소 입력"><br>
                                            제목
                                            <input type="text" class="form-control" id="emailTitle" placeholder="제목 입력"><br>
                                            본문
                                            <input type="text" class="form-control" id="emailText" placeholder="본문 입력" style="height:300px;"><br><br>
                                            <button type="submit" class="btn  btn-primary">발송</button>
                                        </p>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 본문내용 종료 -->
            </div>
        </div>

        <!-- 메인 종료 -->

        <!-- 스크립트 -->
        <script data-cfasync="false" type="text/javascript"src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
        <!-- 모달창 스크립트 -->
        <script>
            $('#exampleModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
            })
        </script>
        <script>
            // JavaScript를 사용하여 각 셀의 값을 확인하고 배경색을 조절
            const table = document.getElementById('table2');
            const rows = table.getElementsByTagName('tr');

            for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            const statusValue = cells[9].textContent.trim();

            // 값에 따라 배경색을 변경
            switch (statusValue) {
                case '완료':
                cells[9].style.backgroundColor = '#aaffaa'; // 녹색
                break;
                case '미완료':
                cells[9].style.backgroundColor = '#ffaaaa'; // 빨간색
                break;
                default:
                // 다른 경우에 대한 처리 (여기서는 아무 처리도 하지 않음)
                break;
                }
            }
        </script>
<script>
function deleteRow(btn) {
  var row = btn.parentNode.parentNode;
  var table = document.getElementById("table2");
  table.deleteRow(row.rowIndex);
}

function send() {
    var businessNumber1=$("#businessNumber1").val();
    var businessNumber2=$("#businessNumber2").val();
    var businessNumber3=$("#businessNumber3").val();
    var companyName=$("#companyName").val();
    var accountNumber=$("#businessNumber").val();
    var cCode=$("#cCode").val();

    var data = {
        "businessNumber1" : businessNumber1,
        "businessNumber2" : businessNumber2,
        "businessNumber3" : businessNumber3,
        "companyName" : companyName,
        "accountNumber" : accountNumber,
        "cCode" : cCode
    }
    $.ajax({
        type:"POST",
        url:"/reg/itemInput",
        contentType:"application/json",
        data:JSON.stringify(data),
        success:function(response) {
            console.log("전송 성공");
            console.log(response);
            var newRow = "<tr><td align='center' valign='middle' class='text-center' ><input type='checkbox' class='checkbox'></td><td class='text-center'>" + cCode + "</td><td class='text-center'></td><td class='text-center'></td><td align='center' valign='middle' class='text-center'>" +companyName + "</td><td align='center' valign='middle' class='text-center'>" + businessNumber1 +"-" + businessNumber2 + "-" + businessNumber3 + "</td><td class='text-center'></td><td class='text-center'></td><td class='text-center'></td><td align='center' class='text-center' valign='middle' style='background-Color : #ffaaaa;'>" + "미완료" + "</td><td align='center' valign='middle' class='text-center'><button class='btn btn-danger btn-sm' style='height:27px;' onclick='deleteRow(this)'>삭제</button></td></>tr>";
            $("#table2").append(newRow);
    },
        error:function(error) {
            console.error("전송 실패");
            console.error(error);
        }
    });
}
</script>
    </th:block>
</th:block>
</html>
