<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout::setContent(~{::content})}">
    <th:block th:fragment = "content">
        <!-- 메인 시작 -->

        <div class="pcoded-content">
            <!-- 본문내용 시작 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">품목정보등록</h5>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm" width="100%;">
                                <tr>
                                    <td bgcolor="#f6f6f6" rowspan="3" width="1%" align="center" valign="middle">품목코드</td>
                                    <td width="1%" align="center" valign="middle">대분류</td>
                                    <td width="6%" align="center" valign="middle">
                                        <select name="대분류" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-sm">
                                            <option value="">선택</option>
                                            <option value="대분류1">대분류1</option>
                                            <option value="대분류2">대분류2</option>
                                            <option value="대분류3">대분류3</option>
                                        </select>
                                    </td>
                                    <td align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;"></td>
                                </tr>
                                <tr>
                                    <td width="1%" align="center" valign="middle">중분류</td>
                                    <td width="6%" align="center" valign="middle">
                                        <select name="중분류" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-sm">
                                            <option value="">선택</option>
                                            <option value="중분류1">중분류1</option>
                                            <option value="중분류2">중분류2</option>
                                            <option value="중분류3">중분류3</option>
                                        </select>
                                    </td>
                                    <td align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;"></td>
                                </tr>
                                <tr>
                                    <td width="1%" align="center" valign="middle">소분류</td>
                                    <td width="6%" align="center" valign="middle">
                                        <select name="소분류" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-sm">
                                            <option value="">선택</option>
                                            <option value="소분류1">소분류1</option>
                                            <option value="소분류2">소분류2</option>
                                            <option value="소분류3">소분류3</option>
                                        </select>
                                    </td>
                                    <td align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle">품목명</td>
                                    <td colspan="3" align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" rowspan="3" align="center" valign="middle">규격</td>
                                    <td align="center" valign="middle">가로</td>
                                    <td align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;"></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">세로</td>
                                    <td align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;"></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle">높이</td>
                                    <td align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle">재질</td>
                                    <td colspan="3" align="center" valign="middle"><input type="text" style="width:100%; height:100%; border:none;"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle">도면</td>
                                    <td colspan="3" align="center" valign="middle"><div class="custom-file" ><input type="file" class="custom-file-input" id="inputGroupFile01"><label class="custom-file-label" for="inputGroupFile01"></label></div></td>
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-danger btn-sm" style="float:right;" data-toggle="modal" data-target="#exampleModalLive">삭제</button>
                            <button type="submit" class="btn btn-warning btn-sm" style="float:right;" data-toggle="modal" data-target="#exampleModalLive">수정</button>
                            <button type="submit" class="btn btn-primary btn-sm" style="float:right;" data-toggle="modal" data-target="#exampleModalLive">등록</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">품목정보관리</h5>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <button type="button" class="btn  btn-outline-primary dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="float:left;">선택<span class="sr-only"></span></button>
                            <div class="dropdown-menu" style="float:left;">
                                <a class="dropdown-item">품목코드</a>
                                <a class="dropdown-item">품목명</a>
                            </div>
                            <input type="text" class="form-control-sm" aria-label="Text input with dropdown button" style="float:left; width:20%; height:31px;">
                            <button class="btn btn-primary btn-sm" type="button" style="float:left;">검색</button>
                            <button type="button" class="btn btn-primary btn-sm" style="float:right;">전체보기</button>
                            <table class="table table-bordered table-sm" width="100%;">
                                <tr>
                                    <td width="1%" align="center" valign="middle"></td>
                                    <td width="2%" align="center" valign="middle">품목코드</td>
                                    <td width="20%" align="center" valign="middle">품목명</td>
                                    <td width="5%" align="center" valign="middle">규격</td>
                                    <td width="5%" align="center" valign="middle">재질</td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle"><input type="checkbox" class="checkbox"></td>
                                    <td align="center" valign="middle">001</td>
                                    <td align="center" valign="middle">라면</td>
                                    <td align="center" valign="middle">30x20x10</td>
                                    <td align="center" valign="middle">밀가루</td>
                                </tr>
                            </table>
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item disabled"><span class="page-link">이전</span></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><span class="page-link">2<span class="sr-only">현재</span></span></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><span class="page-link">다음</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- 모달창 -->
                <div class="card-body">
                    <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLiveLabel">Modal Title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <p class="mb-0">Woohoo, you're reading this text in a modal!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 본문내용 종료 -->
        </div>

        <!-- 메인 종료 -->

        <!-- 모달창 스크립트 -->
<script>
    $('#exampleModalLive').on('show.bs.modal', function(event) {
    var button = $(event.relatedTarget)
    var recipient = button.data('whatever')
    var modal = $(this)
    modal.find('.modal-title').text('New message to ' + recipient)
    modal.find('.modal-body input').val(recipient)
    })
</script>
<script>

</script>
    </th:block>
</th:block>
</html>
