<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout::setContent(~{::content})}">
    <th:block th:fragment = "content">
        <!-- 메인 시작 -->

        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <!-- 본문내용 시작 -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">조달계획등록</h5>
                    <div class="card-body table-border-style">
                        <button type="button" class="btn btn-primary btn-sm" style="float:right;">조달계획등록</button>
                        <button type="button" class="btn btn-danger btn-sm" style="float:right;">리스트에서제거</button>
                        <div class="table-responsive">
                            <table id="table1" class="table table-bordered table-sm text-center" width="100%">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="check_all"></th>
                                    <th>품목코드</th>
                                    <th>품목명</th>
                                    <th>소요수량</th>
                                    <th>재고수량</th>
                                    <th>조달수량</th>
                                    <th>평균반품율</th>
                                    <th>소요예정일</th>
                                    <th>조달납기일</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item disabled"><span class="page-link">이전</span></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><span class="page-link">2<span class="sr-only">현재</span></span></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><span class="page-link">다음</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">조달계획관리</h5>
                    <div class="card-body table-border-style">
                        <select name="검색항목" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-sm" style="float:left;">
                            <option value="">선택</option>
                            <option value="품목코드">품목코드</option>
                            <option value="품목명">품목명</option>
                        </select>
                        <input type="text" class="form-control-sm" aria-label="Text input with dropdown button" style="float:left; width:20%; height:31px;">
                        <button class="btn btn-primary btn-sm" type="button" style="float:left;">검색</button>
                        <button type="button" class="btn  btn-primary btn-sm" style="float:right;" onclick="moveSelectedRows()">리스트에추가</button>
                        <button type="button" class="btn  btn-danger btn-sm" style="float:right;">미등록건만보기</button>
                        <button type="button" class="btn  btn-primary btn-sm" style="float:right;">전체보기</button>
                        <div class="table-responsive">
                            <table id="table2" class="table table-bordered table-sm" width="100%">
                                <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">품목코드</th>
                                    <th class="text-center">품목명</th>
                                    <th class="text-center">소요수량</th>
                                    <th class="text-center">소요예정일</th>
                                    <th class="text-center">조달납기일</th>
                                    <th class="text-center">진행단계</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td align="center" valign="middle"><input type="checkbox" class="checkbox"></td>
                                    <td align="center" valign="middle">00000</td>
                                    <td align="center" valign="middle">00000</td>
                                    <td align="center" valign="middle">00000</td>
                                    <td align="center" valign="middle">0000-00-00</td>
                                    <td align="center" valign="middle">0000-00-00</td>
                                    <td align="center" valign="middle" >조달계획미등록</td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle"><input type="checkbox" class="checkbox"></td>
                                    <td align="center" valign="middle">11111</td>
                                    <td align="center" valign="middle">11111</td>
                                    <td align="center" valign="middle">11111</td>
                                    <td align="center" valign="middle">0000-00-00</td>
                                    <td align="center" valign="middle">0000-00-00</td>
                                    <td align="center" valign="middle">조달완료</td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle"><input type="checkbox" class="checkbox"></td>
                                    <td align="center" valign="middle">22222</td>
                                    <td align="center" valign="middle">22222</td>
                                    <td align="center" valign="middle">22222</td>
                                    <td align="center" valign="middle">0000-00-00</td>
                                    <td align="center" valign="middle">0000-00-00</td>
                                    <td align="center" valign="middle">조달계획등록완료</td>
                                </tr><tr>
                                    <td align="center" valign="middle"><input type="checkbox" class="checkbox"></td>
                                    <td align="center" valign="middle">44444</td>
                                    <td align="center" valign="middle">44444</td>
                                    <td align="center" valign="middle">44444</td>
                                    <td align="center" valign="middle">0000-00-00</td>
                                    <td align="center" valign="middle">0000-00-00</td>
                                    <td align="center" valign="middle">발주진행중</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item disabled"><span class="page-link">이전</span></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><span class="page-link">2<span class="sr-only">현재</span></span></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><span class="page-link">다음</span></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- 본문내용 종료 -->
        </div>

        <!-- 메인 종료 -->

        <!-- 스크립트 -->
        <script>
            function changeProgress(progress) {
            document.querySelector('.btn-outline-primary').innerHTML = progress + '<span class="sr-only"></span>';
            }

            function moveSelectedRows() {
            const checkboxes = document.querySelectorAll('#table2 .checkbox:checked');
            const table1Body = document.querySelector('#table1 tbody');

            checkboxes.forEach(checkbox => {
            const row = checkbox.closest('tr');

            if (!row.classList.contains('moved')) {
                const clonedRow = row.cloneNode(true);
                clonedRow.querySelector('.checkbox').remove();
                table1Body.appendChild(clonedRow);
                row.classList.add('moved');
                checkbox.checked = false;
            }
            });
        }
        </script>
        <script>
            const table = document.getElementById('table2');
            const rows = table.getElementsByTagName('tr');

            for (let i = 1; i < rows.length; i++) {
              const cells = rows[i].getElementsByTagName('td');
              const statusValue = cells[6].textContent.trim();

              switch (statusValue) {
                case '조달완료':
                  cells[6].style.backgroundColor = '#aaffaa'; // 녹색
                  break;
                case '발주진행중':
                  cells[6].style.backgroundColor = '#aaaaff'; // 노란색
                  break;
                case '조달계획등록완료':
                  cells[6].style.backgroundColor = '#f1c40f'; // 주황색
                  break;
                case '조달계획미등록':
                  cells[6].style.backgroundColor = '#ffaaaa'; // 빨간색
                  break;
                default:
                  break;
              }
            }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var table2Rows = document.querySelectorAll('#table2 tbody tr');

                table2Rows.forEach(function (row) {
                    row.addEventListener('click', function () {
                        copyRowToTable1(row);
                    });
                });

                function copyRowToTable1(row) {
                    var table1Body = document.querySelector('#table1 tbody');

                    if (table1Body) {
                        var newRow = document.createElement('tr');

                        var checkboxCell = document.createElement('td');
                        var checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.class = 'text-center';
                        checkbox.checked = false;
                        checkbox.name = 'check';
                        checkboxCell.appendChild(checkbox);
                        newRow.appendChild(checkboxCell);

                        for (var i = 1; i <= 3; i++) {
                            var newCell = document.createElement('td');
                            newCell.innerHTML = row.cells[i].innerHTML;
                            newRow.appendChild(newCell);
                        }

                        for (var i = 4; i <= 6; i++) {
                            var newCell = document.createElement('td');
                            newRow.appendChild(newCell);
                        }

                        for (var i = 4; i <= 5; i++) {
                            var newCell = document.createElement('td');
                            if (row.cells[i]) {
                                newCell.innerHTML = row.cells[i].innerHTML;
                            }
                            newRow.appendChild(newCell);
                        }

                        table1Body.appendChild(newRow);
                    } else {
                        console.error('Table1 tbody not found.');
                    }
                }
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                    $("#check_all").click(function() {
                        if($("#check_all").is(":checked"))
                            $("input[name=check]").prop("checked", true);
                        else
                            $("input[name=check]").prop("checked", false);
                    });

                    $("input[name=check]").click(function() {
                        var total = $("input[name=check]").length;
                        var checked = $("input[name=check]:checked").length;

                        if(total != checked)
                            $("#check_all").prop("checked", false);
                        else
                            $("#check_all").prop("checked", true);
                    });
                });
        </script>
    </th:block>
</th:block>
</html>

