<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./layout/layout::setContent(~{::content})}">
    <th:block th:fragment="content">
        <div class="pcoded-content">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">발주 리스트</h5>
                    <div class="card-body table-border-style">
                        <form>
                            <input type="date" id="startDate" class="form-control-sm" th:value="${startDate}">
                            ~
                            <input type="date" id="endDate" class="form-control-sm" th:value="${endDate}"><br>
                            <select id="type" name="type" title="검색분류" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-sm" style="float:left; height:31px;">
                                <option value="PON" th:selected="${pageMaker.cri.type eq 'PON'}">발주번호</option>
                                <option value="IC" th:selected="${pageMaker.cri.type eq 'IC'}">품목코드</option>
                                <option value="IN" th:selected="${pageMaker.cri.type eq 'IM'}">품목명</option>
                            </select>
                            <input type="text" class="form-control-sm" id="keyword" aria-label="Text input with dropdown button" style="float:left; width:20%; height:31px;" th:value="${pageMaker.cri.keyword}">
                            <button class="btn btn-primary btn-sm" type="button" style="float:left;" id="search">검색</button>
                        </form>
                        <div class="table-responsive">
                            <table id="table1" class="table table-bordered table-sm text-center" width="100%">
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="10%;">발주번호</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="15%;">발주일자</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="15%;">입고예정일</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="15%;">품목코드</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="35%;">품목명</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="10%;">발주수량</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="10%;">검수현황</td>
                                </tr>
                                <tr th:each="list:${table1List}">
                                    <td th:text="${list.purch_order_number}"></td>
                                    <td th:text="${list.purch_order_date}"></td>
                                    <td th:text="${list.receive_duedate}"></td>
                                    <td class="prcp" th:data-prcp="${list.proc_plan_number}"  th:text="${list.item_code}"></td>
                                    <td th:text="${list.item_name}"></td>
                                    <td th:text="${list.purch_order_quantity}"></td>
                                    <td th:text="${list.prog_check_count}+' / '+${list.prog_check_total}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <nav th:if="${pageMaker.total}">
                        <ul class="pagination">
                            <th:if test="${pageMaker.prev}">
                                <th:block th:if="${pageMaker.startPage > 1}">
                                    <a class = "page-link" th:href="@{'/order/progress-check?pageNum=' + ${pageMaker.startPage-1} + '&amount=' + ${pageMaker.cri.amount} +'&type='+${pageMaker.cri.type}+'&keyword='+${pageMaker.cri.keyword}}">이전</a>
                                </th:block>
                            </th:if>

                            <span th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                <th:block th:if="${num == pageMaker.cri.pageNum}">
                                    <li class="page-item active">
                                        <span class="page-link">
                                            <b th:text="${num}"></b>
                                        </span>
                                    </li>
                                </th:block>
                                <th:block th:unless="${num == pageMaker.cri.pageNum}">
                                    <li class = "page-item">
                                        <span class="page-link">
                                            <a th:href="@{'/order/progress-check?pageNum=' + ${num} + '&amount=' + ${pageMaker.cri.amount} +'&type='+${pageMaker.cri.type}+'&keyword='+${pageMaker.cri.keyword}}" th:text="${num}"></a>
                                        </span>
                                    </li>
                                </th:block>
                            </span>

                            <th:if test="${pageMaker.next}">
                                <th:block th:if="${pageMaker.endPage*pageMaker.cri.amount < pageMaker.total}">
                                    <a class="page-link" th:href="@{'/order/progress-check?pageNum=' + ${pageMaker.endPage+1} + '&amount=' + ${pageMaker.cri.amount} +'&type='+${pageMaker.cri.type}+'&keyword='+${pageMaker.cri.keyword}}">다음</a>
                                </th:block>
                            </th:if>
                        </ul>
                    </nav>
                </div>
                <div class="button-container" style="display: flex;">
                    <button type="button" id="MakeCheckPlan" class="btn btn-success" style="width: 100px;">검수계획</button>
                    <button type="button" id="CompleteCheckPlan" class="btn btn-info" style="width: 100px;">검수처리</button>
                </div>
            </div>
        </div>
        <div class="pcoded-content" id="CheckPlanSection" style="display:none;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">검수계획</h5>
                    <div class="card-body table-border-style">
                        <button type="button" id="SaveCheckPlanBtn" onclick="SaveCheckPlan()" class="btn btn-primary" style="float:right;">저장</button>
                        <div class="table-responsive">
                            <table id="table2" class="table table-bordered table-sm text-center" width="100%">
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">발주번호</th>
                                    <td><input type="text" style="border:none; float:left;" id="Make_purch_order_number" readonly></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">발주일자</th>
                                    <td><input type="text" style="border:none; float:left;" id="Make_purch_order_date" readonly></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">입고예정일자</th>
                                    <td><input type="text" style="border:none; float:left;" id="Make_receive_duedate" readonly></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">업체명</th>
                                    <td><input type="text" style="border:none; float:left;" id="Make_company_name" readonly></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">사업자번호</th>
                                    <td><input type="text" style="border:none; float:left;" id="Make_business_number" readonly></td>
                                </tr>
                            </table>
                            <table id="table3" class="table table-bordered table-sm text-center" width="100%">
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">품목코드</th>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">품목명</th>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">발주수량</th>
                                </tr>
                                <tr>
                                    <td><input type="text" style="border:none; text-align: center;" id="item_code" readonly></td>
                                    <td><input type="text" style="border:none; text-align: center;" id="Make_item_name" readonly></td>
                                    <td><input type="text" style="border:none; text-align: center;" id="Make_purch_order_quantity" readonly></td>
                                </tr>
                            </table>
                            <table id="table4" class="table table-bordered table-sm text-center" width="100%">
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="30%;">차수</th>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="30%;">검수일자</th>
                                    <td bgcolor="#f6f6f6" width="10%;" colspan="2"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" style="border:none; width:3%;" id="proc_check_order" value="1" readonly>차</td>
                                    <td><input type="date" style="border:none;" id="table4_proc_check_date" value="${today}"></td>
                                    <td><button type="button" class="btn btn-info btn-sm" id="addRowBtn" onclick="addRow()">추가</button></td>
                                    <td><button type="button" class="btn btn-danger btn-sm" id="deleteRowBtn" onclick="deleteRow(this)">삭제</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pcoded-content" id="CompleteCheckPlanSection" style="display:none;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">검수처리</h5>
                    <div class="card-body table-border-style">
                        <button type="button" id="UpdateCheckPlanBtn" onclick="UpdateCheckPlan()" class="btn btn-primary" style="float:right;">저장</button>
                        <div class="table-responsive">
                            <table id="table5" class="table table-bordered table-sm text-center" width="100%">
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">발주번호</td>
                                    <td><input type="text" style="border:none; float:left;" id="Complete_purch_order_number" readonly></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">발주일자</td>
                                    <td><input type="text" style="border:none; float:left;" id="Complete_purch_order_date" readonly></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">입고예정일자</td>
                                    <td><input type="text" style="border:none; float:left;" id="Complete_receive_duedate" readonly></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">업체명</td>
                                    <td><input type="text" style="border:none; float:left;" id="Complete_company_name" readonly></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">사업자번호</td>
                                    <td><input type="text" style="border:none; float:left;" id="Complete_business_number" readonly></td>
                                </tr>
                            </table>
                            <table id="table6" class="table table-bordered table-sm text-center" width="100%">
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">품목코드</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">품목명</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="20%;">발주수량</td>
                                </tr>
                                <tr>
                                    <td><input type="text" style="border:none; text-align: center;" id="Complete_item_code" readonly></td>
                                    <td><input type="text" style="border:none; text-align: center;" id="Complete_item_name" readonly></td>
                                    <td><input type="text" style="border:none; text-align: center;" id="Complete_purch_order_quantity" readonly></td>
                                </tr>
                            </table>
                            <table id="table7" class="table table-bordered table-sm text-center" width="100%">
                                <thead>
                                <tr>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="10%;">차수</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="15%;">검수일자</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="10%;">완료수량</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="30%;">검수결과</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="30%;">보완사항</td>
                                    <td bgcolor="#f6f6f6" align="center" valign="middle" width="10%;">진척도</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="checkList:${ProgressCheckList}">
                                    <td th:text="${checkList.proc_check_order}"></td>
                                    <td th:text="${checkList.proc_check_date}"></td>
                                    <td th:text="${checkList.complete_quantity}"></td>
                                    <td th:text="${checkList.prog_check_result}"></td>
                                    <td th:text="${checkList.supplementation}"></td>
                                    <td th:text="${checkList.percent}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            var header = $('meta[name="_csrf_header"]').attr("content");
            var _csrfToken = $('#_csrf_token').val();

            $(document).ready(function() {

                $('th').addClass('text-center');
                $('td').addClass('text-center');
                $('th').addClass('align-middle');
                $('td').addClass('align-middle');
                console.log('table1List:', /*[[${table1List}]]*/);
                console.log('today : ',/*[[${today}]]*/);

                $('#table1 tbody tr').each(function() {
                    var prog_check_results_cell = $(this).find('#prog_check_results');
                    var prog_check_results = prog_check_results_cell.text();

                    if (prog_check_results !== '-') {
                        var splitResults = prog_check_results.split('!@#');
                        var finalResult = splitResults[0];
                        prog_check_results_cell.text(finalResult);
                    }
                });


                // 탭 이동
                $('#MakeCheckPlan').on('click', function() {
                    clearTable2Contents();
                    clearTable3Contents();
                    $('#CheckPlanSection').show();
                    $('#CompleteCheckPlanSection').hide();
                    console.log("검수계획 탭 보임");
                    console.log("검수계획 데이터 지움");
                }),

                $('#CompleteCheckPlan').on('click', function() {
                    clearTable5Contents();
                    clearTable6Contents();
                    $('#CompleteCheckPlanSection').show();
                    $('#CheckPlanSection').hide();
                    console.log("검수처리 탭 보임");
                    console.log("검수처리 데이터 지움");
                })

                $('#table1 tbody tr').on('click', function() {
                    // 검수계획 탭 보일때
                    if ($('#CheckPlanSection').is(':visible')) {
                        var proc_plan_number = $(this).children('.prcp').data('prcp');
                        var purch_order_number = $(this).find('td:eq(0)').text();
                        var purch_order_date = $(this).find('td:eq(1)').text();
                        var receive_duedate = $(this).find('td:eq(2)').text();
                        var item_code = $(this).find('td:eq(3) ').text();
                        var item_name = $(this).find('td:eq(4)').text();
                        var purch_order_quantity = $(this).find('td:eq(5)').text();
                        $('#table2 tbody tr:eq(0) td:eq(1) input').val(purch_order_number);
                        $('#table2 tbody tr:eq(1) td:eq(1) input').val(purch_order_date);
                        $('#table2 tbody tr:eq(2) td:eq(1) input').val(receive_duedate);
                        $('#table3 tbody tr:eq(1) td:eq(0) input').val(item_code);
                        $('#table3 tbody tr:eq(1) td:eq(1) input').val(item_name);
                        $('#table3 tbody tr:eq(1) td:eq(2) input').val(purch_order_quantity);

                        checkPlanDB(proc_plan_number, purch_order_number);

                        function checkPlanDB(proc_plan_number, purch_order_number)  {
                            console.log("checkPlanDB 호출");
                            console.log("클릭한 행의 조달계획번호 : ", proc_plan_number);
                            console.log("클릭한 행의 발주번호 : ", purch_order_number);

                            $.ajax({
                                type:'POST',
                                url:'/order/checkPlanDB',
                                data:{proc_plan_number:proc_plan_number},
                                beforeSend: function(xhr) {
                                    xhr.setRequestHeader(header, _csrfToken);
                                },
                                success : function(response)    {
                                    if(response==0) {
                                        getCompany(proc_plan_number);
                                    }
                                    else if(response>0) {
                                        alert("이미 진척검수일정이 등록었습니다.");
                                    }
                                },
                                error:function(error)   {
                                    console.error("에러 : ", error);
                                }
                            })
                        }
                    }

                    // 검수처리 탭 보일때
                    if ($('#CompleteCheckPlanSection').is(':visible')) {
                        var proc_plan_number = $(this).children('.prcp').data('prcp');
                        var purch_order_number = $(this).find('td:eq(0)').text();
                        var purch_order_date = $(this).find('td:eq(1)').text();
                        var receive_duedate = $(this).find('td:eq(2)').text();
                        var item_code = $(this).find('td:eq(3) ').text();
                        var item_name = $(this).find('td:eq(4)').text();
                        var purch_order_quantity = $(this).find('td:eq(5)').text();

                        $('#table5 tbody tr:eq(0) td:eq(1) input').val(purch_order_number);
                        $('#table5 tbody tr:eq(1) td:eq(1) input').val(purch_order_date);
                        $('#table5 tbody tr:eq(2) td:eq(1) input').val(receive_duedate);
                        $('#table6 tbody tr:eq(1) td:eq(0) input').val(item_code);
                        $('#table6 tbody tr:eq(1) td:eq(1) input').val(item_name);
                        $('#table6 tbody tr:eq(1) td:eq(2) input').val(purch_order_quantity);
                        console.log("getCompany 호출 전 조달계획번호 : ", proc_plan_number);
                        console.log("getCompany 호출 전 발주계획번호 : ", purch_order_number);

                        getCompany(proc_plan_number, purch_order_number);
                    }
                })
            });
        </script>
        <script th:inline="javascript">
            function clearTable2Contents() {
                $('#table2 tbody tr:eq(0) td:eq(1) input').val('');
                $('#table2 tbody tr:eq(1) td:eq(1) input').val('');
                $('#table2 tbody tr:eq(2) td:eq(1) input').val('');
                $('#table2 tbody tr:eq(3) td:eq(1) input').val('');
                $('#table2 tbody tr:eq(4) td:eq(1) input').val('');
            }

            function clearTable3Contents() {
                $('#table3 tbody tr:eq(1) td:eq(0) input').val('');
                $('#table3 tbody tr:eq(1) td:eq(1) input').val('');
                $('#table3 tbody tr:eq(1) td:eq(2) input').val('');
            }

            function clearTable5Contents() {
                $('#table2 tbody tr:eq(0) td:eq(1) input').val('');
                $('#table2 tbody tr:eq(1) td:eq(1) input').val('');
                $('#table2 tbody tr:eq(2) td:eq(1) input').val('');
                $('#table2 tbody tr:eq(3) td:eq(1) input').val('');
                $('#table2 tbody tr:eq(4) td:eq(1) input').val('');
            }

            function clearTable6Contents() {
                $('#table6 tbody tr:eq(1) td:eq(0) input').val('');
                $('#table6 tbody tr:eq(1) td:eq(1) input').val('');
                $('#table6 tbody tr:eq(1) td:eq(2) input').val('');
            }

            function getCompany(proc_plan_number, purch_order_number)  {
                console.log("getCompany 호출");
                $.ajax({
                    type:'POST',
                    url:'/order/getCompany',
                    data: {proc_plan_number:proc_plan_number, purch_order_number:purch_order_number},
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, _csrfToken);
                        },
                        success: function (response) {
                            if ($('#CheckPlanSection').is(':visible')) {
                                console.log("response:",response)
                                $('#Make_company_name').val(response.companyData[0].company_name);
                                $('#Make_business_number').val(response.companyData[0].business_number);
                                $('#proc_plan_number').val(response.companyData[0].proc_plan_number);
                                proc_plan_number = response.companyData[0].proc_plan_number;
                                console.log("클릭한 행의 조달계획번호 : ", response.companyData[0].proc_plan_number);
                                console.log("클릭한 행의 발주번호 : ", response.companyData[0].purch_order_number);
                            }
                            if ($('#CompleteCheckPlanSection').is(':visible')) {
                                $('#Complete_company_name').val(response.companyData[0].company_name);
                                $('#Complete_business_number').val(response.companyData[0].business_number);
                                $('#proc_plan_number').val(response.companyData[0].proc_plan_number);
                                proc_plan_number = response.companyData[0].proc_plan_number;
                                console.log("클릭한 행의 조달계획번호 : ", proc_plan_number);
                                console.log("클릭한 행의 발주번호 : ", purch_order_number);
                                showCheckPlanDetails(item_code, proc_plan_number, purch_order_number);
                            }
                        },
                        error: function(error) {
                            console.error('Error:', error);
                        }
                })
            }
            var checkOrder = 1;

            function addRow() {
                var date = new Date();
                var formattedDate = date.toISOString().split('T')[0];
                console.log(date);
                console.log(formattedDate);
                checkOrder++;
                $('#table4 tbody tr:eq(0) td:eq(0) input').val(checkOrder);
                var newRow = "<tr>" +
                    "<td><input type='text' style='border:none; width:3%;' value='" + checkOrder + "' readonly>차</td>" +
                    "<td><input type='date' style='border:none;' class='proc_check_date' value='" + formattedDate + "'></td>" +
                    "<td><button type='button' class='btn btn-info btn-sm' onclick='addRow()'>추가</button></td>" +
                    "<td><button type='button' class='btn btn-danger btn-sm' onclick='deleteRow(this)'>삭제</button></td>" +
                    "</tr>";

                $('#table4 tbody').append(newRow);
            }

            function deleteRow(button) {
                console.log("deleteRow 호출");
                var row = $(button).closest('tr');
                var rowOrder = parseInt(row.find('td:eq(0) input').val());
                var hasHigherOrder = false;

                $('#table4 tbody tr').each(function() {
                    var currentOrder = parseInt($(this).find('td:eq(0) input').val());
                    if (currentOrder > rowOrder) {
                        hasHigherOrder = true;
                        return false;
                    }
                });

                if (hasHigherOrder) {
                    alert('중간에 삭제할 수 없습니다.');
                }
                else if(hasHigherOrder==false && rowOrder===1)  {
                    alert('최소한 한개의 진척검수일정이 필요합니다.');
                }
                else {
                    row.remove();
                }
            }

           function SaveCheckPlan()    {

                    var Make_proc_check_order_array = [];
                    var Make_proc_check_date_array = [];



                    var Make_purch_order_number = $('#table2 tbody tr:eq(0) td:eq(1) input').val();
                    var item_code = $('#table3 tbody tr:eq(1) td:eq(0) input').val();
                    var purch_order_quantity = $('#table3 tbody tr:eq(1) td:eq(2) input').val();
                    console.log("purch_order_number", Make_purch_order_number);
                    console.log("item_code : ",item_code);
                    console.log("purch_order_quantity : ", purch_order_quantity);
                    console.log("========================================================================================");

                    var proc_plan_number = null;
                    $('#table1 tbody tr').each(function () {
                        var match_purch_order_number = $(this).find('td:eq(0)').text();
                        var match_item_code = $(this).find('td:eq(3)').text();
                        var match_purch_order_quantity = $(this).find('td:eq(5)').text();
                        console.log("match_purch_order_number : ",match_purch_order_number);
                        console.log("match_item_code : ", match_item_code);
                        console.log("match_purch_order_quantity : ", match_purch_order_quantity);


                        // var proc_plan_number = $('.prcp').data('prcp');
                        if (match_purch_order_number === Make_purch_order_number &&match_item_code === item_code &&match_purch_order_quantity === purch_order_quantity) {
                            proc_plan_number = $(this).find('.prcp').data('prcp');
                            return false; // 일치하는 항목을 찾으면 반복문을 종료합니다.
                        }
                    });

                    console.log("proc_plan_number : ",proc_plan_number);
                    console.log("========================================================================================");




                    $('#table4 tbody tr:gt(0)').each(function(index, element) {
                        var Make_proc_check_order = $(element).find('td:eq(0) input').val();
                        var Make_proc_check_date = $(element).find('td:eq(1) input').val();
                        Make_proc_check_order_array.push(Make_proc_check_order);
                        Make_proc_check_date_array.push(Make_proc_check_date);
                    });

                    var checkPlans = new FormData();
                    checkPlans.append('proc_plan_number', proc_plan_number);
                    checkPlans.append('Make_proc_check_order[]', Make_proc_check_order_array);
                    checkPlans.append('Make_proc_check_date[]', Make_proc_check_date_array);
                    checkPlans.append('Make_purch_order_number',Make_purch_order_number);

                    for (var pair of checkPlans.entries()) {
                        console.log(pair[0] + ': ' + pair[1]);
                    }

                    // Ajax 요청 보내기
                    $.ajax({
                        type: 'POST',
                        url: '/order/inputCheckPlans',
                        processData: false,
                        contentType: false,
                        data: checkPlans,
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, _csrfToken);
                        },
                        success: function(response) {
                            alert("진척검수 일정이 등록되었습니다");
                            $('#table2 tbody tr:eq(0) td:eq(1) input').val('');
                            $('#table2 tbody tr:eq(1) td:eq(1) input').val('');
                            $('#table2 tbody tr:eq(2) td:eq(1) input').val('');
                            $('#table2 tbody tr:eq(3) td:eq(1) input').val('');
                            $('#table2 tbody tr:eq(4) td:eq(1) input').val('');

                            // table3의 내용을 비우기
                            $('#table3 tbody tr:eq(1) td:eq(0) input').val('');
                            $('#table3 tbody tr:eq(1) td:eq(1) input').val('');
                            $('#table3 tbody tr:eq(1) td:eq(2) input').val('');

                            // table4의 내용을 비우기
                            $('#table4 tbody').empty();

                            // 새로운 진척검수 차수를 초기값으로 설정
                            checkOrder = 1;
                            $('#table4 tbody tr:eq(0) td:eq(0) input').val(checkOrder);
                            $('#table4 tbody tr:eq(0) td:eq(1) input').val(formattedDate);
                        },
                        error: function(error) {
                            alert("진척검수 일정이 등록에 실패했습니다");
                            console.error('Error:', error);
                        }
                    });
                }


        function showCheckPlanDetails(item_code, proc_plan_number, purch_order_number) {

            console.log("showCheckPlanDetails 호출");
            console.log("proc_plan_number : ", proc_plan_number);
            console.log("purch_order_number : ", purch_order_number);

            $.ajax({
                type: 'POST',
                url: '/order/showCheckPlanDetails',
                data: {proc_plan_number:proc_plan_number, purch_order_number:purch_order_number},
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, _csrfToken);
                },
                success: function (response) {
                    console.log('Received data:', response);
                    updateTable(response);
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });

            function updateTable(data) {
                $('#table7 tbody').empty();

                for (var i = 0; i < data.length; i++) {
                    var row = "<tr>" +
                        "<td>" + data[i].proc_check_order + "</td>" +
                        "<td>" + data[i].proc_check_date + "</td>" +
                        "<td><input type='number' value='" + data[i].completed_quantity +"' style='text-align:center; border:none; width:100%;'></td>" +
                        "<td><input type='text' value='"+ data[i].prog_check_result +"' style='text-align:left; border:none; width:100%;'></td>" +
                        "<td><input type='text' value='" + data[i].supplementation +"' style='text-align:left; border:none; width:100%;'></td>" +
                        "<td><div class='progress mb-4'><div class='progress-bar progress-bar-striped' role='progressbar' style='width:" + data[i].percent + "%;' aria-valuenow='" + data[i].percent + "' aria-valuemin='0' aria-valuemax='100'></div></div></td>" +
                        "<input type='hidden' class='procplannumber' value='" + data[i].proc_plan_number + "'>" +
                        "</tr>";
                    $('#table7 tbody').append(row);
                }
            }
        }

        function UpdateCheckPlan()  {
            var updatedData = [];
            $('#table7 tbody tr').each(function(index, element) {
                var Complete_proc_check_order = $(element).find('td:eq(0)').text();
                var Complete_proc_check_date = $(element).find('td:eq(1)').text();
                var Complete_completed_quantity_array = [];
                var Complete_supplementation_array = [];
                var Complete_prog_check_result_array = [];
                var Complete_completed_quantity = $(element).find('td:eq(2) input').val();
                var Complete_prog_check_result = $(element).find('td:eq(3) input').val();
                var Complete_supplementation = $(element).find('td:eq(4) input').val();
                var proc_plan_number = $('.procplannumber').val();
                var purch_order_number = $('#table5 tr:eq(0) td:eq(1) input').val();

                console.log("조달계획번호 : ", proc_plan_number);
                console.log("발주번호 : ", purch_order_number);
                Complete_completed_quantity_array.push(Complete_completed_quantity);
                Complete_supplementation_array.push(Complete_supplementation);
                Complete_prog_check_result_array.push(Complete_prog_check_result);

                var updatePlans = new FormData();
                updatePlans.append('Complete_proc_check_order', Complete_proc_check_order);
                updatePlans.append('Complete_proc_check_date', Complete_proc_check_date);
                updatePlans.append('Complete_completed_quantity[]', Complete_completed_quantity_array);
                updatePlans.append('Complete_supplementation[]', Complete_supplementation_array);
                updatePlans.append('Complete_prog_check_result[]', Complete_prog_check_result_array);
                updatePlans.append('purch_order_number', purch_order_number);
                updatePlans.append('proc_plan_number',proc_plan_number);

                for (var pair of updatePlans.entries()) {
                        console.log(pair[0] + ': ' + pair[1]);
                    }

                $.ajax({
                    type: 'POST',
                    url: '/order/updateCheckPlan',
                    processData: false,
                    contentType: false,
                    data: updatePlans,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, _csrfToken);
                    },
                    success: function(response) {
                        console.log("전송성공");
                    },
                    error: function(error) {
                        console.error('Error:', error);
                    }
                });
            });
        }

        </script>
        <script>
            $("#search").on("click", function (e) {
                e.preventDefault();
                let type = $("#type").val();
                let keyword = $("#keyword").val();
                let pageNum = $("#table1_paginate .active a").text();
                let startDate = $("#startDate").val();
                let endDate = $("#endDate").val();
                console.log(type,keyword,pageNum);
                window.location.replace('/order/progress-check?pageNum=1&amount=10&type='+type+'&keyword='+keyword+'&startDate='+startDate+'&endDate='+endDate);
            });
        </script>
    </th:block>
</th:block>
</html>