<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout::setContent(~{::content})}">
    <th:block th:fragment="content">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5>진척검수관리</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- [ basic-table ] start -->
                <div class="col-xl-12" id="getdata">
                    <div class="card">

                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5>진척검수</h5>
                                </div>
                                <div class="col-md-auto">
                                    <script>
                                        $(document).ready(function() {
                                            $("#save").click(function() {
                                                alert("저장되었습니다.");
                                            });
                                        });
                                    </script>
                                    <button id="save" type="button" class="btn  btn-primary btn-sm">저장</button>

                                    <button id="removebutton" type="button" class="btn  btn-danger btn-sm">취소</button>
                                    <script>
                                        document.getElementById('removebutton').addEventListener('click', function() {
                                            var table1 = document.getElementById('table1');
                                            var cellsToRemove1 = table1.querySelectorAll('td');

                                            var table2 = document.getElementById('table2');
                                            var cellsToRemove2 = table2.querySelectorAll('td');

                                            cellsToRemove1.forEach(function(cell) {
                                                cell.innerHTML = '';
                                            });

                                            cellsToRemove2.forEach(function(cell) {
                                                cell.innerHTML = '';
                                            });
                                        });
                                    </script>
                                </div>

                            </div>
                        </div>
                        <div class="card-body table-border-style">

                            <div class="table-responsive">
                                <table  class="table table-bordered table-hover table-sm" id="table1">
                                    <thead>
                                    <tr>
                                        <th colspan="4">공급자정보</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr >
                                        <th>발주번호</th>
                                        <td colspan="3" th:text="${orderList[0].poCode}"></td>

                                    </tr>
                                    <tr>
                                        <th>발주일</th>
                                        <td th:text="${orderList[0].orderDate}"></td>
                                        <th>발주납기일</th>
                                        <td th:text="${orderList[0].delDate}"></td>
                                    </tr>
                                    <tr>
                                        <th>업체명</th>
                                        <td th:text="${orderList[0].comName}"></td>
                                        <th>사업자번호</th>
                                        <td th:text="${orderList[0].businessNum}"></td>
                                    </tr>
                                    <tr>
                                        <th>담당자</th>
                                        <td th:text="${orderList[0].eName}"></td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-body table-border-style">

                            <div class="table-responsive">

                                <table class="table table-bordered table-hover table-sm" id="table2">
                                    <thead>
                                    <tr>
                                        <th colspan="7">품목정보</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>순번</th>
                                        <th>품목코드</th>
                                        <th>품목명</th>
                                        <th>수량</th>
                                        <th>단가</th>
                                        <th>공급가격</th>
                                    </tr>
                                    <tr>
                                        <td><span th:text="${itemList[0].num}"></span></td>
                                        <td><span th:text="${itemList[0].iCode}"></span></td>
                                        <td><span th:text="${itemList[0].iName}"></span></td>
                                        <td><span th:text="${itemList[0].count}"></span></td>
                                        <td><span th:text="${itemList[0].unitPrice}"></span></td>
                                        <td><span th:text="${itemList[0].supPrice}"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span th:text="${itemList[1].num}"></span></td>
                                        <td><span th:text="${itemList[1].iCode}"></span></td>
                                        <td><span th:text="${itemList[1].iName}"></span></td>
                                        <td><span th:text="${itemList[1].count}"></span></td>
                                        <td><span th:text="${itemList[1].unitPrice}"></span></td>
                                        <td><span th:text="${itemList[1].supPrice}"></span></td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>

                        <div class="card-body table-border-style">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-sm">
                                    <thead>
                                    <tr>
                                        <th colspan="6">
                                            <div class="row">
                                                <div class="col">
                                                    검수처리
                                                </div>
                                                <div class="col-md-auto">
                                                    <button type="button" class="btn  btn-danger btn-sm">삭제</button>
                                                </div>

                                            </div>

                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th></th>
                                        <th>차수</th>
                                        <th>검수일정</th>
                                        <th>검수결과</th>
                                        <th>제작수량합계</th>
                                        <th>보완사항</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckC1">
                                                <label class="custom-control-label" for="customCheckC1"></label>
                                            </div>
                                        </td>
                                        <td><span th:text="${checkList[0].num}"></span></td>
                                        <td><input type="date" th:value="${checkList[0].checkDate}" /></td>
                                        <td><input class="input-border-none" th:value="${checkList[0].result}" type="text"></td>
                                        <td><input class="input-border-none" th:value="${checkList[0].sum}" type="text"></td>
                                        <td><input class="input-border-none" type="text"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckC2">
                                                <label class="custom-control-label" for="customCheckC2"></label>
                                            </div>
                                        </td>
                                        <td>2</td>
                                        <td><input type="date"></td>
                                        <td><input class="input-border-none" type="text"></td>
                                        <td><input class="input-border-none" type="text"></td>
                                        <td><input class="input-border-none" type="text"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5>구매발주서리스트</h5>
                                </div>
                            </div>

                        </div>
                        <div class="card-body table-border-style">
                            <div class="row">
                                <div class="col">
                                    <!-- 날짜 입력과 조회 버튼 -->
                                    <input class="form-control-sm" type="date" value="2024-01-20"> ~ <input class="form-control-sm" type="date" value="2024-02-20">
                                    <button class="btn btn-primary btn-sm" type="submit">조회</button>
                                </div>

                                <div class="col-md-auto">
                                    <!-- 체크박스와 뱃지 -->
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-primary">검수결과값 필요만 보기</span>
                                        <div class="custom-control custom-checkbox ml-1">
                                            <input type="checkbox" class="custom-control-input" id="customCheckaa" checked>
                                            <label class="custom-control-label" for="customCheckaa"></label>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-primary">검수일정 미등록만 보기</span>
                                        <div class="custom-control custom-checkbox ml-1">
                                            <input type="checkbox" class="custom-control-input" id="customCheckbb" checked>
                                            <label class="custom-control-label" for="customCheckbb"></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <!-- 셀렉트 박스, 입력 필드, 검색 버튼 -->
                                    <select id="inputState1" class="form-control-sm">
                                        <option selected>발주번호</option>
                                        <option>업체명</option>
                                        <option>품목명</option>
                                        <option>검수진행</option>
                                        <option>발주납기일</option>
                                    </select>

                                    <input type="text" class="form-control-sm" id="inputZip1">
                                    <button class="btn btn-primary btn-sm" type="submit">검색</button>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-sm" id="table3">
                                    <thead>
                                    <tr>
                                        <!--                                        <th></th>-->
                                        <th>발주번호</th>
                                        <th>업체명</th>
                                        <th>품목명</th>
                                        <th>검수진행</th>
                                        <th>진척도</th>
                                        <th>발주납기일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="order : ${orderList}" onclick="refreshPage()">
                                        <td th:text="${order.poCode}"></td>
                                        <td th:text="${order.comName}"></td>
                                        <td th:text="${order.pName}"></td>
                                        <td th:text="${order.resultnum}"></td>
                                        <td>
                                            <div class="progress-bar progress-bar-striped bg-success"
                                                 role="progressbar"
                                                 th:style="'width: ' + ${order.progress} + '%;'"
                                                 aria-valuenow="${order.progress}"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <span th:text="${order.progress+'%'}"></span></div>
                                        </td>
                                        <td th:text="${order.delDate}"></td>


                                    </tr>

                                    <!--                                    <tr>-->

                                    <!--                                        <td><span th:text="${order.poCode}"></span></td>-->
                                    <!--                                        <td><span th:text="${order.comName}"></span></td>-->
                                    <!--                                        <td><span th:text="${order.pName}"></span></td>-->
                                    <!--                                        <td><span th:text="${order.resultnum}"></span></td>-->
                                    <!--                                        <td><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 66%;" aria-valuenow=<span th:text="${order.progress}"></span> aria-valuemin="0" aria-valuemax="100">66%</div></td>-->
                                    <!--                                        <td><span th:text="${order.deldate}"></span></td>-->
                                    <!--                                    </tr>-->
                                    <!--                                    <tr>-->

                                    <!--                                        <td>P-00003</td>-->
                                    <!--                                        <td>(주)그린피앤엘</td>-->
                                    <!--                                        <td>마우스.헤드셋...</td>-->
                                    <!--                                        <td>2차완료</td>-->
                                    <!--                                        <td><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div></td>-->
                                    <!--                                        <td>2019-01-01</td>-->
                                    <!--                                    </tr>-->
                                    <!--                                    <tr>-->

                                    <!--                                        <td>P-00004</td>-->
                                    <!--                                        <td>(주)그린피앤엘</td>-->
                                    <!--                                        <td>마우스.헤드셋...</td>-->
                                    <!--                                        <td>2차완료</td>-->
                                    <!--                                        <td><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%;" aria-valuenow="00" aria-valuemin="0" aria-valuemax="100">0%</div></td>-->
                                    <!--                                        <td>2019-01-01</td>-->
                                    <!--                                    </tr>-->
                                    <!--                                    <tr>-->

                                    <!--                                        <td>P-00005</td>-->
                                    <!--                                        <td>(주)그린피앤엘</td>-->
                                    <!--                                        <td>마우스.헤드셋...</td>-->
                                    <!--                                        <td>2차완료</td>-->
                                    <!--                                        <td><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div></td>-->
                                    <!--                                        <td>2019-01-01</td>-->
                                    <!--                                    </tr>-->
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item"><a class="page-link" href="#!" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                                        <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#!" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                            <script>
                                function refreshPage() {
                                  location.reload();
                                }
                            </script>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>