<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./layout/layout::setContent(~{::content})}">
    <th:block th:fragment = "content">
        <div class="pcoded-content">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-header">생산계획조회</h5>
                            <div class="card-body table-border-style">
                                <input type="date" id="startDate" class="form-control-sm" th:value="${startDate}">
                                ~
                                <input type="date" id="endDate" class="form-control-sm" th:value="${endDate}">
                                <button class="btn  btn-primary btn-sm" id="searchDate">조회</button><br>

                                <div class="table-responsive">
                                    <table id="table2" class="table table-bordered table-sm" width="100%">
                                        <thead>
                                        <tr>
                                            <th class="text-center">발주일자</th>
                                            <th class="text-center">발주납기일자</th>
                                            <th class="text-center">발주번호</th>
                                            <th class="text-center">발주수량</th>
                                            <th class="text-center">세부사항</th>
                                            <th class="text-center">비고</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="orderList : ${orderList}">
                                                <td th:text="${orderList.purch_order_date}"></td>
                                                <td th:text="${orderList.receive_duedate}"></td>
                                                <td th:text="${orderList.purch_order_number}"></td>
                                                <td th:text="${orderList.purch_order_quantity}"></td>
                                                <td th:text="${orderList.purch_order_detail}"></td>
                                                <td th:text="${orderList.note}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav th:if="${pageMaker.total}">
                                        <ul class="pagination">
                                            <th:if test="${pageMaker.prev}">
                                                <th:block th:if="${pageMaker.startPage > 1}">
                                                    <a class = "page-link" th:href="@{'/order/pur-order-report?pageNum=' + ${pageMaker.startPage-1} + '&amount=' + ${pageMaker.cri.amount}}">이전</a>
                                                </th:block>
                                            </th:if>
                                            <span th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                                                <th:block th:if="${num == pageMaker.cri.pageNum}">
                                                    <li class="page-item active">
                                                        <span class="page-link">
                                                            <b th:text="${num}"></b>
                                                        </span>
                                                    </li>    
                                                </th:block>
                                                <th:block th:unless="${num == pageMaker.cri.pageNum}">
                                                    <li class = "page-item">
                                                        <span class="page-link">
                                                            <a th:href="@{'/order/pur-order-report?pageNum=' + ${num} + '&amount=' + ${pageMaker.cri.amount}}" th:text="${num}"></a>
                                                        </span>
                                                    </li>
                                                </th:block>
                                            </span>
                                            <th:if test="${pageMaker.next}">
                                                <th:block th:if="${pageMaker.endPage*pageMaker.cri.amount < pageMaker.total}">
                                                    <a class="page-link" th:href="@{'/order/pur-order-report?pageNum=' + ${pageMaker.endPage+1} + '&amount=' + ${pageMaker.cri.amount}}">다음</a>
                                                </th:block>
                                            </th:if>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="col-xl-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>발주현황 그래프</h5>
                        </div>
                        <div class="card-body" style="position: relative;">
                            <div id="bar-chart-1" style="min-height: 365px;">
                                <div id="apexchartsx6deuf3y" class="apexcharts-canvas apexchartsx6deuf3y light" style="width: 600px; height: 350px;">
                                    <!-- 바 차트를 그릴 캔버스 요소 -->
                                    <canvas id="myChart" style="width: 600px; height: 350px;"></canvas>
                                    <script th:inline="javascript">
                                        var allPurOrder = /*[[${allPurOrder}]]*/ null;
                                        var CountProcPlan = /*[[${CountProcPlan}]]*/ null;
                                        var CountPublishedPurOrder = /*[[${CountPublishedPurOrder}]]*/ null;
                                        var CountProgCheckingProcPlan = /*[[${CountProgCheckingProcPlan}]]*/ null;
                                        var FinishedProcPlan = /*[[${FinishedProcPlan}]]*/ null;
                                        // 바 차트 데이터
                                        var ctx = document.getElementById('myChart').getContext('2d');
                                        var myChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: ['총 조달계획', '발주서발행', '진척검수진행중', '조달마감'],
                                                datasets: [{
                                                    data: [CountProcPlan,CountPublishedPurOrder,CountProgCheckingProcPlan,FinishedProcPlan],
                                                    backgroundColor: [
                                                        'rgba(54, 162, 235, 0.9)',
                                                       'rgba(255, 165, 0, 0.9)',
                                                        'rgba(255, 206, 86, 0.9)',
                                                        'rgba(50, 205, 50, 0.9)',
                                                    ],
                                                    borderColor: [
                                                        'rgba(54, 162, 235, 1)',
                                                        'rgba(255, 165, 0, 1)',
                                                        'rgba(255, 206, 86, 1)',
                                                        'rgba(50, 205, 50, 1)',
                                                    ],
                                                    borderWidth: 1
                                                }]
                                            },
                                            options: {
                                                scales: {
                                                    y: {
                                                        beginAtZero: true
                                                    }
                                                }
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- 스크립트 -->
<script>
    $('th').addClass('text-center');
    $('td').addClass('text-center');
    $('th').addClass('align-middle');
    $('td').addClass('align-middle');
</script>
<script>
    $(document).ready(function () {
        $("#searchDate").on("click", function () {
            var startDate = new Date($("#startDate").val());
            var endDate = new Date($("#endDate").val());
            $("#table2 tbody tr").each(function () {
                var rowStartDateStr = $(this).find("td:eq(0)").text();
                var rowStartDate = new Date(rowStartDateStr);
                if (startDate <= rowStartDate && rowStartDate <= endDate) {
                    $(this).show();
                } 
                else {
                    $(this).hide();
                }
            });
        });
    });
</script>


    </th:block>
</th:block>
</html>