<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./layout/layout::setContent(~{::content})}">


    <th:block th:fragment="content">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5>구매발주서발행</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- [ basic-table ] start -->
                <div class="col-xl-12">
                    <div class="card">

                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5>조달계획리스트 </h5>
                                </div>

                                <div class="col-md-auto">
                                    <button type="button" class="btn btn-primary btn-sm" id="makePO">발주</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div>
                                <span class="badge badge-primary">조달납기 선택</span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input class="form-control-sm" type="date" id="upperSDate" th:value="${defaultStartDate}"> ~ <input class="form-control-sm" type="date" id="upperEDate" th:value="${defaultEndDate}">
                                    &nbsp;<button class="btn  btn-primary btn-sm" type="submit" id="upperDateSearchBtn">조회</button>
                                </div>
                                <div class="col-md-auto">
                                    <div class="input-group-prepend">
                                        <form>
                                            <select id="upperType" class="form-control-sm">
                                                <option value="CN" selected>업체명</option>
                                                <option value="IN">품목명</option>
                                            </select>

                                            <input id="upperSearchText" type="text" class="form-control-sm" list="upperAutoList">
                                            <datalist id="upperAutoList">

                                            </datalist>
                                            <button class="btn  btn-primary btn-sm" id="upperSearchBtn">검색</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive" id="jodal">
                                <table class="table table-bordered table-hover table-sm">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>조달계획번호</th>
                                        <th>업체명</th>
                                        <th>품목명</th>
                                        <th>조달납기일</th>
                                    </tr>
                                    </thead>
                                    <tbody id="upperTbody">
                                   
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-end" id="upperPaging">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5>구매발주서리스트</h5>
                                </div>
                                <div class="col-md-auto">
                                    <button type="button" class="btn  btn-danger btn-sm" id="deleteBtn">삭제</button>
                                </div>
                            </div>

                        </div>
                        <div class="card-body table-border-style">
                            <div>
                                <span class="badge badge-primary">발주일 선택</span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input class="form-control-sm" type="date" id="lowerSDate"  th:value="${defaultLowerDate}"> ~ <input class="form-control-sm" type="date" id="lowerEDate"  th:value="${defaultStartDate}">
                                    &nbsp;<button class="btn  btn-primary btn-sm" type="submit" id="lowerDateSearchBtn">조회</button>
                                </div>
                                <div class="col-md-auto">
                                    <div class="input-group-prepend">
                                        <form>
                                            <select id="lowerType" class="form-control-sm">
                                                <option value="CN" selected>업체명</option>
                                                <option value="IN">품목명</option>
                                            </select>

                                            <input type="text" class="form-control-sm" id="lowerSearchText" list="lowerAutoList">
                                            <datalist id="lowerAutoList">

                                            </datalist>
                                            <button class="btn  btn-primary btn-sm" id="lowerSearchBtn">검색</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive" id="orderlist">
                                <table class="table table-bordered table-hover table-sm">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>발주번호</th>
                                        <th>업체명</th>
                                        <th>품목명</th>
                                        <th>발주일</th>
                                        
                                    </tr>
                                    </thead>
                                    <tbody id="lowerTbody">

                                    
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-end" id="lowerPaging">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
          
            var crntPage;
            var amount = 10;
            var header = $('meta[name="_csrf_header"]').attr("content");
            var _csrfToken = $('#_csrf_token').val();
            var upperTbody = $('#upperTbody');
            var upperPaging = $('#upperPaging');
            var prcpNumberArr = [];
            var business_numberArr = [];
            var poNumArr = [];

            $(function(){
                loadList({"startDate":$('#upperSDate').val(),"endDate":$('#upperEDate').val(),"type":$('#upperType').val(),"keyword":"","pageNum":0,"amount":amount},upperTbody,upperPaging, 0);
                loadLowerList({"startDate":$('#lowerSDate').val(),"endDate":$('#lowerEDate').val(),"type":"CN","keyword":"","pageNum":0,"amount":amount});
            })
            $('#lowerSearchText').on('keyup', function(){
                $.ajax({
                    type:'get',
                    url:'/orderapi/auto-search-po',
                    data:{"startDate":$('#lowerSDate').val(),"endDate":$('#lowerEDate').val(),"type":$('#lowerType').val(),"keyword":$(this).val()},
                    success: function(res){
                        $('#lowerAutoList').empty();
                        res.forEach(function(data) {
                            let option = $('<option>');
                            if($('#lowerType').val() == 'IN'){
                                option.val(data.item_names);
                                option.text(data.company_name);
                            }else if($('#lowerType').val() == 'CN'){
                                option.val(data.company_name);
                                option.text(data.item_names);
                            }
                            $('#lowerAutoList').append(option);
                        });
                    }
                })
            })

            $('#upperSearchText').on('keyup', function(){
                $.ajax({
                    type:'get',
                    url:'/orderapi/auto-search-proc-plan',
                    data:{"startDate":$('#upperSDate').val(),"endDate":$('#upperEDate').val(),"type":$('#upperType').val(),"keyword":$(this).val()},
                    success: function(res){
                        $('#upperAutoList').empty();
                        res.forEach(function(data) {
                            let option = $('<option>');
                            if($('#upperType').val() == 'IN'){
                                option.val(data.item_name);
                                option.text(data.company_name);
                            }else if($('#upperType').val() == 'CN'){
                                option.val(data.company_name);
                                option.text(data.item_name);
                            }
                            $('#upperAutoList').append(option);
                        });
                    }
                })
            })

            $('#makePO').on("click", function(){
                if(business_numberArr.length == 0 || prcpNumberArr.length == 0){
                    alert("최소한 한 개 이상의 발주품목을 선택해야 합니다.");
                }else{
                    let popOption = "width = 2000px, height = 730px, top = 100px, left = 100px, scrollbars=yes";
                    let business_number = business_numberArr[0];
                    let popUrl = '/order/pur-order-pop/'+ business_number +"/"+prcpNumberArr.join("','");
                    var poPop = window.open(popUrl,'pop',popOption);
                    poPop.onbeforeunload = function(){
                        loadList({"startDate":$('#upperSDate').val(),"endDate":$('#upperEDate').val(),"type":$('#upperType').val(),"keyword":$('#upperSearchText').val(),"pageNum":0,"amount":amount},upperTbody,upperPaging, 0);
                        loadLowerList({"startDate":$('#lowerSDate').val(),"endDate":$('#lowerEDate').val(),"type":$('#lowerType').val(),"keyword":$('#lowerSearchText').val(),"pageNum":0,"amount":amount});
                    }
                }
            })

            $('#upperDateSearchBtn, #upperSearchBtn').on("click",function(e){
                e.preventDefault();
                loadList({"startDate":$('#upperSDate').val(),"endDate":$('#upperEDate').val(),"type":$('#upperType').val(),"keyword":$('#upperSearchText').val(),"pageNum":0,"amount":amount},upperTbody,upperPaging, 0);
                
            })

            $('#lowerDateSearchBtn, #lowerSearchBtn').on("click",function(e){
                e.preventDefault();
                loadLowerList({"startDate":$('#lowerSDate').val(),"endDate":$('#lowerEDate').val(),"type":$('#lowerType').val(),"keyword":$('#lowerSearchText').val(),"pageNum":0,"amount":amount});
                
            })

            $('#lowerPaging').on("click","a", function(){
                id = $(this).data("paging");
                prcpNumberArr = [];
                business_number = [];
                if(id == 'next'){
                    id = parseInt(crntPage/10)+1;
                    id = id*10+1;
                }else if(id == 'prev'){
                    id = parseInt(crntPage/10);
                    id = id*10;
                }
                loadLowerList({"startDate":$('#lowerSDate').val(),"endDate":$('#lowerEDate').val(),"type":$('#lowerType').val(),"keyword":$('#lowerSearchText').val(),"pageNum":id-1,"amount":amount});
            })


            $('#upperTbody').on("click","tr",function(){
                let test = $(this).data('bsno');
                if($(this).children().children().children('input').is(':checked') == true){
                    $(this).children().children().children('input').prop('checked',false);
                    business_numberArr.pop();
                    prcpNumberArr = prcpNumberArr.filter(e => e != $(this).children('.prcNumber').text());
                    console.log(prcpNumberArr);
                }else{
                    if((business_numberArr.includes(test)) || business_numberArr.length === 0){
                        prcpNumberArr.push($(this).children('.prcNumber').text());
                        business_numberArr.push(test);
                        $(this).children().children().children('input').prop('checked',true);
                    }else{
                        alert('발주는 한 회사에서만 진행할 수 있습니다.');
                    }
                }
            })

            $('#lowerTbody').on("click","tr td",function(){
                let isInput = $(this).find("input[type='checkbox']").length;
                if(!isInput){
                    let popOption = "width = 800px, height = 730px, top = 100px, left = 100px, scrollbars=yes";
                    let business_number = $(this).parent().children('.bsno').data('bsno');
                    let purch_order_number = $(this).parent().children('.poNum').text();
                    console.log(business_number, purch_order_number);
                    let popUrl = '/order/pur-order-content/'+business_number+'/'+purch_order_number;
                    var poPop = window.open(popUrl,'pop',popOption);
                    poPop.onbeforeunload = function(){
                        loadList({"startDate":$('#upperSDate').val(),"endDate":$('#upperEDate').val(),"type":$('#upperType').val(),"keyword":$('#upperSearchText').val(),"pageNum":0,"amount":amount},upperTbody,upperPaging, 0);
                        loadLowerList({"startDate":$('#lowerSDate').val(),"endDate":$('#lowerEDate').val(),"type":$('#lowerType').val(),"keyword":$('#lowerSearchText').val(),"pageNum":0,"amount":amount});
                }
                }else{
                    let poNumber = $(this).siblings('.poNum').text();
                    if($(this).children().children('input').is(':checked') == true){
                        $(this).children().children('input').prop('checked',false);
                        poNumArr = poNumArr.filter(e => e != poNumber);
                    }else{
                        $(this).children().children('input').prop('checked',true);
                        poNumArr.push(poNumber);
                    }
                }
            })

            $('#deleteBtn').on('click',function(){
                console.log(poNumArr);
                let del = confirm('정말 삭제하시겠습니까?');
                if(del){
                    $.ajax({
                        type:"delete",
                        url:"/orderapi/po-delete",
                        data:{purch_order_numbers:poNumArr},
                        beforeSend:function(xhr){
                                xhr.setRequestHeader(header,_csrfToken)
                        },
                        success:function(res){
                            console.log(res);
                            if(res.length != 0){
                                let alertStr = res.join(', ');
                                alert('발주서 '+ alertStr + '를 삭제하는데 실패 했습니다.\n 사유:마감처리된 품목존재');
                            }
                            loadList({"startDate":$('#upperSDate').val(),"endDate":$('#upperEDate').val(),"type":$('#upperType').val(),"keyword":$('#upperSearchText').val(),"pageNum":0,"amount":amount},upperTbody,upperPaging, 0);
                            loadLowerList({"startDate":$('#lowerSDate').val(),"endDate":$('#lowerEDate').val(),"type":$('#lowerType').val(),"keyword":$('#lowerSearchText').val(),"pageNum":0,"amount":amount});
                        },
                        error:function(a,b,c){
                        console.log("에러");
                        console.log("a",a);
                        console.log("b",b);
                        console.log("c",c);
                    }
                    })
                }
            })

            function loadList(criteria, tbody, pagingTag, flag){
                $.ajax({
                    type:"get",
                    url:"/orderapi/po-proc-plan",
                    data:criteria,
                    success:function(res){
                        console.log("성공, 데이터확인",res);
                        $('#upperTbody').empty();
                        let result = res.dataList;
                        var rsStr = "";
                        for(let i = 0; i < result.length; i++){
                            rsStr += "<tr id ='"+i+"result' data-bsno='"+result[i].business_number+"'><td><div class='custom-control custom-checkbox'><input type='checkbox' class='custom-control-input' id='"+i+"checkbox'> <label class='custom-control-label' for='"+i+"checkbox'></label></div></td><td class ='prcNumber'>"+result[i].proc_plan_number+"</td><td>"+result[i].company_name+"</td><td>"+result[i].item_name+"</td><td>"+dateFormatter(result[i].proc_duedate)+"</td></tr>";
                        }
                        $('#upperTbody').html(rsStr);
                        makeCenter();
                        console.log("전체페이지 수",res.page_count);
                        makeCenter();
                    },
                    error:function(a,b,c){
                        console.log("에러");
                        console.log("a",a);
                        console.log("b",b);
                        console.log("c",c);
                    }
                })
            }

            function loadLowerList(criteria){
                $.ajax({
                    type:"get",
                    url:"/orderapi/po-get-published",
                    data:criteria,
                    success:function(res){
                        console.log("성공, 데이터확인",res);
                        $('#lowerTbody').empty();
                        let result = res.dataList;
                        var rsStr = "";
                        for(let i = 0; i < result.length; i++){
                            rsStr += "<tr id ='"+i+"result' class='result'><td><div class='custom-control custom-checkbox'><input type='checkbox' data-lowerCheckbox ='"+i+"' class='custom-control-input' > <label class='custom-control-label' for='"+i+"checkbox'></label></div></td><td class='poNum'>"+result[i].purch_order_number+"</td><td class='bsno' data-bsno='"+result[i].business_number+"'>"+result[i].company_name+"</td><td>"+result[i].item_names+"</td><td>"+dateFormatter(result[i].purch_order_date)+"</td></tr>";
                        }
                        $('#lowerTbody').html(rsStr);
                        var pageList = res.pageList;
                        var pageStr ="";
                        for(let j = 0; j < pageList.length; j++){
                            pageStr +="<li class='page-item'>";
                            if(pageList[j] == "prev"){
                                pageStr += "<a class='page-link' data-paging='prev' aria-label='Previous'><span aria-hidden='true'>&laquo;</span><span class='sr-only'>Previous</span></a>";
                            }else if(pageList[j]=="next"){
                                pageStr += "<a class='page-link'  data-paging='next' aria-label='Next'><span aria-hidden='true'>&raquo;</span><span class='sr-only'>Next</span></a>";
                            }else{
                                pageStr += "<a class='page-link lowerPage'  data-paging='"+pageList[j]+"'>"+pageList[j]+"</a>";
                            }
                            pageStr +="</li>"
                        }
                        console.log(pageStr)
                        $('#lowerPaging').html(pageStr);
                        $('.lowerPage[data-paging ='+res.currentPage+']').parent().addClass("active");
                        crntPage = criteria.pageNum + 1;
                    
                        makeCenter();
                    },
                    error:function(a,b,c){
                        console.log("에러");
                        console.log("a",a);
                        console.log("b",b);
                        console.log("c",c);
                    }
                })
            }

            function makeCenter(){
                $('th').addClass('text-center');
                $('td').addClass('text-center');
                $('input').addClass('text-center');
            }

            function dateFormatter(date){
                if(date != null){
                    var d = new Date(date);
                    let month = d.getMonth()+1;
                    let year = d.getFullYear();
                    let day = d.getDate();
                    return [year,month,day].join('-');
                }else{
                    return "-";
                }
            }

        </script>

    </th:block>

</th:block>
</html>