<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout::setContent(~{::content})}">


    <th:block th:fragment="content">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5>발주 현황 관리리포트</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- [ basic-table ] start -->
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5>구매발주서리스트</h5>
                                </div>
                            </div>

                        </div>
                        <div class="card-body table-border-style">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control-sm" type="date" id="day1" value="2023-01-20"> ~ <input class="form-control-sm" type="date" id="day2" value="2024-02-20">
                                    &nbsp;<button class="btn  btn-primary btn-sm" type="submit" id="day12btn">조회</button>
                                </div>
                            </div>

                            <div class="table-responsive" id="jodal">
                                <table class="table table-bordered table-hover table-sm">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>발주번호</th>
                                        <th>업체명</th>
                                        <th>품목명</th>
                                        <th>발주일</th>
                                        <th>발주납기일</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckB1">
                                                <label class="custom-control-label" for="customCheckB1"></label>
                                            </div>
                                        </td>
                                        <td>P-00001</td>
                                        <td>(주)그린피앤엘</td>
                                        <td>마우스.헤드셋...</td>
                                        <td>2023-12-01</td>
                                        <td>2024-01-20</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckB2">
                                                <label class="custom-control-label" for="customCheckB2"></label>
                                            </div>
                                        </td>
                                        <td>P-00002</td>
                                        <td>(주)그린피앤엘</td>
                                        <td>핸드폰</td>
                                        <td>2024-01-02</td>
                                        <td>2024-01-25</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckB3">
                                                <label class="custom-control-label" for="customCheckB3"></label>
                                            </div>
                                        </td>
                                        <td>P-00003</td>
                                        <td>(주)그린피앤엘</td>
                                        <td>헤드셋</td>
                                        <td>2023-12-23</td>
                                        <td>2024-01-29</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckB4">
                                                <label class="custom-control-label" for="customCheckB4"></label>
                                            </div>
                                        </td>
                                        <td>P-00004</td>
                                        <td>(주)그린피앤엘</td>
                                        <td>키보드</td>
                                        <td>2023-12-30</td>
                                        <td>2024-01-23</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheckB5">
                                                <label class="custom-control-label" for="customCheckB5"></label>
                                            </div>
                                        </td>
                                        <td>P-00005</td>
                                        <td>(주)그린피앤엘</td>
                                        <td>마우스</td>
                                        <td>2024-01-03</td>
                                        <td>2024-01-27</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item"><a class="page-link" href="#!" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                                        <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#!" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>발주현황 그래프</h5>
                        </div>
                        <div class="card-body" style="position: relative;">
                            <div id="bar-chart-1" style="min-height: 365px;">
                                <div id="apexchartsx6deuf3y" class="apexcharts-canvas apexchartsx6deuf3y light" style="width: 600px; height: 350px;">
                                    <!-- 바 차트를 그릴 캔버스 요소 -->
                                    <canvas id="myChart" style="width: 600px; height: 350px;"></canvas>
                                    <script>
                                        // 바 차트 데이터
                                        var ctx = document.getElementById('myChart').getContext('2d');
                                        var myChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: ['총조달계획', '발주서발행', '진척검수진행', '조달마감'],
                                                datasets: [{
                                                    label: '진행량',
                                                    data: [40, 22, 10 ,8],
                                                    backgroundColor: [
                                                        'rgba(54, 162, 235, 0.9)',
                                                       'rgba(255, 165, 0, 0.9)',
                                                        'rgba(255, 206, 86, 0.9)',
                                                        'rgba(50, 205, 50, 0.9)',
                                                    ],
                                                    borderColor: [
                                                        'rgba(54, 162, 235, 1)',
                                                        'rgba(255, 165, 0, 1)',
                                                        'rgba(255, 206, 86, 1)',
                                                        'rgba(50, 205, 50, 1)',
                                                    ],
                                                    borderWidth: 1
                                                }]
                                            },
                                            options: {
                                                scales: {
                                                    y: {
                                                        beginAtZero: true
                                                    }
                                                }
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script>
            $(document).ready(function() {
    // id가 'day12btn'인 버튼 클릭 시 이벤트 핸들러
    $("#day12btn").on('click', function() {
        var day1 = new Date($("#day1").val());
        var day2 = new Date($("#day2").val());

        // day1과 day2가 모두 선택되었는지 확인
        if ($("#day1").val() === "" || $("#day2").val() === "") {
            alert("날짜를 모두 선택해주세요.");
            return; // 날짜를 모두 선택하지 않았을 경우 함수 종료
        }

        // day1의 날짜가 day2의 날짜보다 큰지 확인
        if (day1 > day2) {
            alert("첫 번째 날짜는 두 번째 날짜보다 이후일 수 없습니다.");
            return; // 날짜가 올바르지 않을 경우 함수 종료
        }

        // 각 행의 조달납기일을 확인하고, 선택한 기간에 해당하지 않는 행을 숨깁니다.
        $("#jodal tbody tr").each(function() {
            var date = new Date($(this).find("td:nth-child(5)").text()); // 각 행의 조달납기일 값을 가져옵니다.
            if (date >= day1 && date <= day2) {
                $(this).show(); // 선택한 기간에 해당하는 행은 표시합니다.
            } else {
                $(this).hide(); // 선택한 기간에 해당하지 않는 행은 숨깁니다.
            }
        });
    });
});
        </script>

    </th:block>

</th:block>
</html>