<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout-pop::setContent(~{::content})}">
    <th:block th:fragment="content">
        <!-- [ auth-signin ] start -->
        <div class="auth-wrapper">
            <div class="auth-content text-center">
                <div class="card borderless">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="mb-3"><strong>구매조달시스템</strong></h5>
                                <hr>
                                <form action="/login" method="post">
                                    <p class="form-group mb-3">
                                        <input type="text" class="form-control" id="username" name="username" placeholder="ID" autofocus>
                                    </p>
                                    <p class="form-group mb-4">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                    </p>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                                    <button class="btn btn-block btn-primary mb-4">로그인</button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ auth-signin ] end -->

        <!-- Required Js -->
        <script src="assets/js/vendor-all.min.js"></script>
        <script src="assets/js/plugins/bootstrap.min.js"></script>
        <script src="assets/js/pcoded.min.js"></script>

        <script>

        </script>


    </th:block>
</th:block>

</html>
