<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./layout/layout::setContent(~{::content})}">
    <th:block th:fragment="content">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">재고금액 현황관리 리포트</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>재고현황 차트</h5>
                    </div>
                    <div class="card-body">
                        <span class="badge badge-primary">조회 일자 선택</span>
                        <div class="row">
                            <div class="col">
                                <input id="date" type="date" class="form-control-sm" th:value="${defaultDate}">
                                <button class="btn btn-primary btn-sm" id="getReport">조회</button>

                            </div>
                            <div class="col-7">
                                <div class="custom-control custom-checkbox month">
                                    <input type="checkbox" class="custom-control-input" id="monthlyCheck" checked>
                                    <label class="custom-control-label monthly" for="monthlyCheck">월별</label>
                                </div>
                                <div class="custom-control custom-checkbox day">
                                    <input type="checkbox" class="custom-control-input" id="dailyCheck">
                                    <label class="custom-control-label daily" for="dailyCheck">일별</label>
                                </div>
                            </div>
                            <div class="col-md-auto">
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active text-uppercase" data-toggle="tab" href="#unit" role="tab" aria-controls="unit" aria-selected="true" id="unitBtn">대분류</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-uppercase" data-toggle="tab" href="#assy" role="tab" aria-controls="assy" aria-selected="false" id="assyBtn">중분류</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-uppercase" data-toggle="tab" href="#part" role="tab" aria-controls="part" aria-selected="false" id="partBtn">소분류</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-12 bg-light d-inline-block mr-2 border border-primary" >
                             <div id="bar-chart-1"></div>
                        </div>
                        <div class="col-xl-12 bg-light d-inline-block mr-2 border border-primary" >
                            <div id="pie-chart-1"></div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
        <script src="/assets/js/plugins/apexcharts.min.js"></script>
<!--        <script src="/assets/js/pages/chart-apex.js"></script>-->
        <script src="/assets/js/pages/chart-annotation.js"></script>
        <script th:inline="javascript">
            var chartType = 'unit';
            var termSelect = 'monthly';
            $(function(){
                loadChart($('#date').val(),chartType,termSelect);
            })

            $('.monthly').on("click",function(){
                $('#dailyCheck').prop("checked",false);
                termSelect = 'monthly';
                loadChart($('#date').val(),chartType,termSelect);
            })

            $('.daily').on("click",function(){
                $('#monthlyCheck').prop("checked",false);
                termSelect = 'daily';
                loadChart($('#date').val(),chartType,termSelect);
            })

            
            $('#unitBtn').on("click",function(){
                chartType = 'unit';
                loadChart($('#date').val(),chartType,termSelect);
            })
            $('#assyBtn').on("click",function(){
                chartType = 'assy';
                loadChart($('#date').val(),chartType,termSelect);
            })
            $('#partBtn').on("click",function(){
                chartType = 'part';
                loadChart($('#date').val(),chartType,termSelect);
            })
            $('#getReport').on("click",function(){
                loadChart($('#date').val(),chartType,termSelect);
            })

            function getChart(categories,amounts){
                $('#bar-chart-1').empty();
                $('#pie-chart-1').empty();
                invChart.barChart(categories,amounts);
                invChart.pieChart(categories,amounts);
            }

            function loadChart(date, type, term){
                let startDate;
                let endDate;
                if(term == 'monthly'){
                    startDate = getStartEndDate(date,0);
                    endDate = getStartEndDate(date,1);
                }else{
                    startDate = '1000-01-01';
                    endDate = date;
                }
                $.ajax({
                    type:"get",
                    url:"/invapi/inv-report",
                    data:{
                        startDate:startDate,
                        endDate:endDate,
                        type:type
                    },
                    success : function(res){
                        let categories = [];
                        let amounts = [];
                        for(let i = 0; i < res.length; i++){
                            categories.push(res[i].type_name);
                            amounts.push((res[i].inv_amount)/10000);
                        }
                        getChart(categories,amounts);
                    },
                    error : function(a,b,c){
                        console.log("에러");
                        console.log("a",a);
                        console.log("b",b);
                        console.log("c",c);
                    }
                })

            }

            function getStartEndDate(date, flag){
                let dateGiven = new Date(date);
                let prevYear = dateGiven.getFullYear();
                let returnDate;
                if(flag == 0){
                    returnDate = new Date(prevYear, dateGiven.getMonth(),1);
                }else{
                    returnDate = new Date(prevYear, dateGiven.getMonth()+1,1);
                }
                return dateToString(returnDate);
            }

            function dateToString(date){
                let parseDate = new Date(date);
                return parseDate.getFullYear()+"-"+(parseDate.getMonth()+1)+"-"+parseDate.getDate();
            }


        </script>

    </th:block>
</th:block>
</html>