<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout::setContent(~{::content})}">
    <th:block th:fragment="content">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">입고처리</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>입고예정 항목</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm">
                                            <thead>
                                                <tr>
                                                    <th  class="align-middle" rowspan="2">품목코드</th>
                                                    <th  class="align-middle" rowspan="2">품목명</th>
                                                    <th  class="align-middle" rowspan="2">발주 수량</th>
                                                    <th colspan="2" >입고 수량</th>
                                                </tr>
                                                <tr>
                                                    <th>정품</th>
                                                    <th>반품</th>
                                                </tr>
                                            </thead>
                                            <tbody id="itemsTbody">
                                                <tr >
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr >
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr >
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr >
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <button class="btn  btn-primary">저장</button><br/><br/>
                                    <button class="btn  btn-primary">마감</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>입고 예정 발주</h5>
                        </div>
                        <div class="card-body">
                            <div>
                                <span class="badge badge-primary">납기일 선택</span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="date" id="sDate" class="form-control-sm" value="2023-12-01"> ~
                                    <input type="date" id="eDate" class="form-control-sm" value="2023-12-10">
                                    <button class="btn  btn-primary btn-sm">조회</button>
                                </div>
                                <div class="col-md-auto">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <select name="category" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm">
                                                <option value="itemName">품목명</option>
                                                <option value="companyName">업체명</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control-sm" aria-label="Text input with dropdown button">
                                        <button id="searchBtn" class="btn btn-primary btn-sm"><i class="feather icon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="align-middle" >발주번호</th>
                                            <th class="align-middle" >업체명</th>
                                            <th class="align-middle" >품목명</th>
                                            <th class="align-middle" >발주일</th>
                                            <th class="align-middle" >발주 납기</th>
                                        </tr>
                                    </thead>
                                    <tbody id="poTbody">
                                        <tr th:each="purchaseorder,poStat : ${data}" th:id="${poStat.index}">
                                            <td th:text="${purchaseorder.poCode}"></td>
                                            <td th:text="${purchaseorder.companyName}"></td>
                                            <td><th:block th:each="itemname : ${purchaseorder.itemNameList}"><span th:text="${itemname} + ','"></span> </th:block> </td>
                                            <td th:text="${#dates.format(purchaseorder.poDate,'yyyy-MM-dd')}"></td>
                                            <td th:text="${#dates.format(purchaseorder.poDueDate,'yyyy-MM-dd')}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#!" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('th').addClass('text-center');
            $('td').addClass('text-center');
        </script>
        <script th:inline="javascript">
            $(function(){
                var data = [[${data}]];
                
               
                $('#poTbody').on("click","tr",function(){
                    var idx = $(this).attr('id');
                    var dataList = data[idx].receiveItemList;
                    console.log("리스트 이거맞냐",dataList);
                    var itemTableStr = "";
                    for(let i = 0; i < dataList.length; i++){
                        itemTableStr += "<tr><td>"+dataList[i].itemCode+"</td><td>"+dataList[i].itemName+"</td><td>"+dataList[i].poItemQuantity+"</td><td><input type='number' id='fair'"+i+" class='input-border-none' /></td><td><input type='number' id='return'"+i+" class='input-border-none' /></td></tr>";
                    }
                    $('#itemsTbody').html(itemTableStr);
                    
                })

                $('#sDate').change(function(){
                    console.log("날짜바뀜");
                    var sDate = $(this).val();
                    var eDate = $('#eDate').val();
                    if(eDate < sDate){
                        $('#eDate').val(sDate);
                    }
                })
                $('#eDate').change(function(){
                    var sDate = $('#sDate').val();
                    var eDate = $(this).val();
                    if(eDate < sDate){
                        $('#sDate').val(eDate);
                    }
                })
            })
        </script>
    </th:block>
</th:block>
</html>