<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout::setContent(~{::content})}">
    <th:block th:fragment="content">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">거래명세서 발행</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5>발주서 목록</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <span class="badge badge-primary">입고예정일 선택</span>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="date" class="form-control-sm" value="2023-12-01"> ~
                                <input type="date" class="form-control-sm" value="2023-12-10">
                                <button class="btn  btn-primary btn-sm">조회</button>
                            </div>
                            <div class="col-md-auto">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select name="category" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-sm">
                                            <option value="itemName">품목명</option>
                                            <option value="companyName">업체명</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control-sm" aria-label="Text input with dropdown button">
                                    <button class="btn btn-primary btn-sm"><i class="feather icon-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-sm">
                                <thead>
                                <tr>
                                    <th class="align-middle" >발주번호</th>
                                    <th class="align-middle" >업체명</th>
                                    <th class="align-middle" >품목명</th>
                                    <th class="align-middle" >발주일</th>
                                    <th class="align-middle" >입고예정일</th>
                                    <th class="align-middle" style="width:30px;">명세서</th>
                                    <th class="align-middle" style="width:15px;">발행횟수</th>
                                </tr>
                                </thead>
                                <tbody id = "poTbody">
                                <tr th:each="purchaseorder,poStat : ${data}">
                                    <td th:text="${purchaseorder.poCode}"></td>
                                    <td th:text="${purchaseorder.companyName}"></td>
                                    <td><th:block th:each="itemname : ${purchaseorder.itemNameList}"><span th:text="${itemname} + ','"></span> </th:block> </td>
                                    <td th:text="${#dates.format(purchaseorder.poDate,'yyyy-MM-dd')}"></td>
                                    <td th:text="${#dates.format(purchaseorder.poDueDate,'yyyy-MM-dd')}"></td>
                                    <td class="print"><button class="btn  btn-secondary btn-sm" th:id="${poStat.index}">발행</button></td>
                                    <td >0</td>
                                </tr>
                                
                            

                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#!">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#!" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
           
            $('.btn').on("click",function(){
                console.log("여기다 애송이",$(this));
                if(!($(this).hasClass('disabled'))){
                    let popOption = "width = 1550px, height = 900px, top = 300px, left = 300px, scrollbars=yes";
                    let popUrl = '/inv/statement-preview/'+$(this).attr('id');
                    window.open(popUrl,'pop',popOption);
                }
                
            })
        </script>
       
        <script>
            $('th').addClass('text-center');
            $('td').addClass('text-center');
        </script>
    </th:block>
</th:block>
</html>